<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pluto_PVI_trial_01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pluto_PVI_trial_01.Properties.Settings>
            <setting name="destination_ip_address" serializeAs="String">
                <value>192.168.12.200</value>
            </setting>
            <setting name="destination_tcp_port" serializeAs="String">
                <value>11159</value>
            </setting>
            <setting name="source_tcp_port" serializeAs="String">
                <value>26575</value>
            </setting>
            <setting name="source_station" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\Users\perrje\OneDrive - Comet\My Documents\work\pluto-pvi.log</value>
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>DEBUG</value>
            </setting>
        </Pluto_PVI_trial_01.Properties.Settings>
    </userSettings>
</configuration>